@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.bottomLinks {
  display: flex;
  gap: vr.$spacingSizeL;
  margin: vr.$spacingSizeL 0 vr.$spacingSize6XL;
}

.bottomItem {
  color: var(--colorThunder);
  @include mx.fontSize(14px);
}

.bottomLink {
  color: inherit;
  text-decoration: none;
}

@include mx.devices(mobile) {
  .bottomLinks {
    margin: vr.$spacingSizeL 0 vr.$spacingSize4XL;
  }
  .bottomItem {
    @include mx.fontSize(12px);
  }
}
