@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--colorBlack);

  .container {
    .navLinks {
      display: flex;
      list-style-type: none;
      padding: vr.$spacingSize6XL 0 vr.$spacingSizeL;
      border-bottom: 2px solid var(--colorWhite);

      .footerItem {
        margin: 0 vr.$spacingSizeL;
        color: var(--colorWhite);
        @include mx.fontSize(20px);

        &:first-of-type {
          margin-left: 0px;
        }
      }
    }

    .bottomLinks {
      display: flex;
      list-style-type: none;
      margin: vr.$spacingSizeL auto 0;
      padding-bottom: 30px;

      .footerItem {
        margin: 0 vr.$spacingSizeL;
        color: var(--colorThunder);
        @include mx.fontSize(14px);

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin: 0 0 0 auto;
        }

        .footerLink {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
