@import "reset";

body,
html {
  font-family: var(--fontFamilyPrimary);
}

:root {
  // Fonts
  --fontWeightBold: 700;
  --fontWeightRegular: 500;

  // Primary colors
  --colorBlack: #000;
  --colorWhite: #fff;

  // Custom colors
  --colorThunder: #4d4d4d;
}
