@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.hamburger {
  display: none;
  position: relative;
  color: var(--colorWhite);
  margin: 0 vr.$spacingSizeXL;
  cursor: pointer;
  z-index: 2;
}

@include mx.devices(mobile) {
  .hamburger {
    display: block;
  }
}
