@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  position: relative;
  align-items: center;
  display: flex;
  padding: vr.$spacingSize9XL 0;
  height: 80vh;
  max-height: 800px;

  &:after {
    content: "";
    display: block;
    background: url("/assets/images/header-shape.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    height: 72px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }
}

@include mx.devices(desktop) {
  .wrapper {
    max-height: 700px;
  }
}

@include mx.devices(tablet) {
  .wrapper {
    max-height: 600px;
    padding: vr.$spacingSizeXXL 0;
  }
}

@include mx.devices(mobile) {
  .wrapper {
    max-height: 400px;
  }
}
