@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  min-height: 500px;
  font-family: var(--fontFamilySecondary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

.content {
  z-index: 1;
  flex-direction: row;
}

.section_Icons {
  flex-basis: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.section_Icons_Child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: vr.$spacingSizeXXS;
  @include mx.fontSize(30px);
}

.section_Icons_Child > p {
  margin-top: vr.$spacingSizeXL;
}

.section_Icons_Child:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  height: 50%;
  width: 2px;
  background-color: white;
}

.section_whoWeAre {
  flex-basis: 50%;
  align-self: center;
  text-align: right;
  padding: vr.$spacingSizeL;
}

.title {
  @include mx.fontSize(50px);
  font-family: var(--fontFamilySecondary);
  margin-bottom: vr.$spacingSizeL;
  font-weight: var(--fontWeightBold);
}

.subtitle {
  @include mx.fontSize(20px);
  font-family: var(--fontFamilyPrimary);
}

@include mx.devices(desktop) {
  .section_Icons_Child {
    @include mx.fontSize(25px);
  }

  .section_whoWeAre {
    padding: vr.$spacingSizeS;
  }

  .subtitle {
    @include mx.fontSize(18px);
  }
}

@include mx.devices(tablet) {
  .content {
    flex-direction: column;
  }

  .section_Icons_Child {
    padding: vr.$spacingSizeXL;
  }

  .svg {
    width: 80px;
  }

  .section_Icons_Child:last-child > .svg {
    width: 100px;
  }

  .svg_Stars {
    width: 140px;
  }

  .section_Icons {
    order: 2;
  }

  .section_whoWeAre {
    order: 1;
    text-align: left;
  }
}

@include mx.devices(mobile) {
  .section_Icons {
    width: 100%;
    flex-direction: column;
    margin-bottom: vr.$spacingSizeXL;
  }

  .section_Icons_Child {
    padding: vr.$spacingSizeXL 0;
    @include mx.fontSize(35px);
  }

  .section_Icons_Child:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 100%;
    right: calc(50% - 75px);
    height: 2px;
    width: 150px;
    background-color: white;
  }

  .section_whoWeAre {
    padding: vr.$spacingSizeXS;
    margin-top: vr.$spacingSizeXXL;
  }

  .title {
    @include mx.fontSize(35px);
  }

  .subtitle {
    @include mx.fontSize(17px);
  }
}

@media only screen and (max-width: 500px) {
  .subtitle {
    @include mx.fontSize(15px);
  }
}
