@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.nav {
  display: flex;
}

.list {
  display: flex;
  gap: vr.$spacingSizeS;
}

.element {
  @include mx.fontSize(20px);
}

.link {
  display: flex;
  color: var(--colorCapeHope);
  text-align: center;
  padding: vr.$spacingSizeL;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  &:hover,
  &.active {
    color: var(--colorWhite);
  }

  &.active {
    border-bottom: 2px solid var(--colorWhite);
  }
}
