@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.nav {
  display: flex;
}

.list {
  display: flex;
  gap: vr.$spacingSizeS;
}

.element {
  @include mx.fontSize(20px);
}

.link {
  display: flex;
  color: var(--colorCapeHope);
  text-align: center;
  padding: vr.$spacingSizeL;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  &:hover,
  &.active {
    color: var(--colorWhite);
  }

  &.active {
    border-bottom: 2px solid var(--colorWhite);
  }
}

@include mx.devices(tablet) {
  .list {
    gap: 0;
  }

  .element {
    @include mx.fontSize(16px);
  }

  .link {
    padding: vr.$spacingSizeS;
  }
}

@include mx.devices(mobile) {
  .nav {
    position: absolute;
    right: 0;
    top: -200px;
    background-color: var(--colorBlack);
    transition: top 2s;
  }

  .active {
    right: 0;
    top: 85px;
    transition: top 2s;
  }
  .list {
    display: block;
  }
}
