@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  color: black;
}
