@import "../styles/utilities/variables";

@mixin fontSize($size) {
  font-size: $size;
}
//Same jak w footer

.header {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin-bottom: $spacingSize3XL;
  border-bottom: 1px solid var(--colorGray);

  .container {
    display: flex;
    justify-content: space-between;

    .logo {
      @include fontSize(32px);
      padding-right: $spacingSizeL;
      margin: $spacingSizeL $spacingSizeL $spacingSizeL 0;
      border-right: 2px solid rgb(102, 102, 102);
      text-transform: uppercase;
    }
  }
}
