.nav {
  display: flex;
  height: 100%;
  padding: 20px 0 0;
  color: rgb(200, 200, 200);

  li {
    margin: 0px 20px;
    padding: 0 15px;
    font-size: 20px;

    &:hover {
      border-bottom: 2px solid white;
      color: white;
    }

    &.active {
      border-bottom: 2px solid white;
      color: white;
    }
  }
}
