@import "../../styles/utilities/variables";

@mixin fontSize($size) {
  font-size: $size;
}
// same xd

.nav {
  display: flex;
  width: 100%;
  .navLinks {
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding: $spacingSizeL 0 0;
    color: var(--colorLightGray);

    .navItem {
      padding: 0 $spacingSizeXXL;
      @include fontSize(20px);

      &:hover {
        border-bottom: 2px solid var(--colorWhite);
        color: var(--colorWhite);
        font-weight: bold;
      }

      &.active {
        border-bottom: 2px solid var(--colorWhite);
        color: var(--colorWhite);
        font-weight: bold;
      }
    }
  }
}
