@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.header {
  background-color: var(--colorBlack);
  border-bottom: 1px solid var(--colorThunder);
  padding: vr.$spacingSizeL 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
