@import "../styles/utilities/variables";

@mixin fontSize($size) {
  font-size: $size;
}
// Wiem, ze nie powinno tu tego byc tylko w pliku mixins.scss ale jak dodalem tam to nie dzialalo tutaj idk how to do that

.footer {
  display: flex;
  flex-direction: column;

  .container {
    .navLinks {
      display: flex;
      list-style-type: none;
      padding: $spacingSize6XL 0 $spacingSizeL;
      border-bottom: 2px solid var(--colorWhite);

      .footerItem {
        margin: 0 $spacingSizeL;
        @include fontSize(20px);

        &:first-of-type {
          margin-left: 0px;
        }
      }
    }

    .bottomLinks {
      display: flex;
      list-style-type: none;
      margin: $spacingSizeL auto 0;
      padding: 0px;

      .footerItem {
        margin: 0px $spacingSizeL;
        color: var(--colorGray);
        @include fontSize(14px);

        &:first-of-type {
          margin-left: 0px;
        }

        &:last-of-type {
          margin: 0 0 0 auto;
        }

        .footerLink {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
